/* OVERALL */
* { font-family: Helvetica,Arial,Verdana; margin:0; padding:0; }
BODY { padding: 0; margin: 0; -webkit-print-color-adjust: exact; }

/* HEADER TABLE */
TABLE#header, TABLE#plan { width: 7.5in; min-width: 7.5in; max-width: 7.5in; border-collapse: collapse; }
TABLE#header TD.left { width: 29%; }
TABLE#header TD.date { width: 34%; text-align: center; font-size: 13pt; font-weight: bold; vertical-align: middle; }
TABLE#header TD.right { width: 37%; }
.logo { width: 2.25in; height: 0.75in; }

/* INFO TABLE */
TABLE#info { width:100%; border-collapse: collapse; }
TABLE#info TD { border: solid 1px #999; padding: 2px 4px; vertical-align: middle; text-align: left; }
TABLE#info TD.title { border-color: #000; width: 30%; background-color: #404040; color: #FFF; font-size: 8pt; font-weight: bold; }
TABLE#info TD.item { width: 70%; font-size: 11pt; font-family: Times; }
.italic { font-style: italic; }

/* PLAN TABLE */
TABLE#plan { margin-top: 0.25in; }
TABLE#plan THEAD { display: table-header-group; }
TABLE#plan TH { background-color: #333; color: #FFF; font-size: 8pt; padding: 4px 0; vertical-align: middle; border: solid 1px #999; }

/* PLAN TABLE  - HEADER ROWS */
TABLE#plan TH.time { width: 22%; }
TABLE#plan TH.length { width: 3%; font-size: 10pt; }
TABLE#plan TH.event { width: 25%; }
TABLE#plan TH.sound { width: 12%; }
TABLE#plan TH.video { width: 12%; }
TABLE#plan TH.lights { width: 12%; }
TABLE#plan TH.notes { width: 13%; }

/* PLAN TABLE - NON-SERVICE ROWS */
TABLE#plan TR.preservice, TABLE#plan TR.postservice { background-color: #EEE;}

/* PLAN TABLE - ITEM ROWS */
TABLE#plan TD { text-align: center; font-size: 8pt; padding: 2px 2px; vertical-align: middle; border: solid 1px #999; }
TABLE#plan TD.divider { font-weight: bold; background-color: #AAA; color: #000; font-size: 10pt; padding: 4px 0; }
TABLE#plan TD.time { background-color: #333; font-weight: bold; color: #FFF; }
TABLE#plan TD.time span { border-right: 1px solid #999; padding-left: 5px; padding-right: 5px; }
TABLE#plan TD.time span:first-child { padding-left: 0; }
TABLE#plan TD.time span:last-child { border-right: none; padding-right: 0; }
TABLE#plan TD.length { background-color: #CCC; font-weight: bold; }
TABLE#plan TD.event { text-align: left; padding-left: 5px; }
TABLE#plan TD.event div { font-family: Arial Black; text-align: left; }
TABLE#plan TD.event span { font-weight: normal; font-family: Times; }
TABLE#plan TD.song { background-color: #EEE; }
TABLE#plan TD.sound, TABLE#plan TD.video, TABLE#plan TD.lights, TABLE#plan TD.notes { font-family: Times; }